.screen-18 {
  position: absolute;
  top: -1px;
  left: -4px;
  background-color: #fff;
  width: 1280px;
  height: 720px;
}
.note {
  position: absolute;
  top: 188px;
  left: 378px;
  font-weight: 900;
  color: #424242;
}
.screen-1-child {
  position: absolute;
  top: -1px;
  left: 0;
  background-color: #353535;
  width: 1280px;
  height: 90px;
}
.health-kiosk7 {
  position: absolute;
  top: 21px;
  left: 140px;
  font-size: 36px;
  font-weight: 900;
  color: #fff;
  display: inline-block;
  width: 564px;
  height: 51px;
}
.speech-language-therapy-icon7 {
  position: absolute;
  top: 4px;
  left: 46px;
  width: 80px;
  height: 80px;
  overflow: hidden;
  object-fit: cover;
}
.circle8 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #00b3ff;
  width: 160px;
  height: 160px;
}
.thermometer-icon2 {
  position: absolute;
  top: 15.7px;
  left: 35.7px;
  width: 89.3px;
  height: 89.3px;
  overflow: hidden;
  object-fit: cover;
}
.temperature-press-1-container {
  position: absolute;
  top: 110px;
  left: 25px;
  font-weight: 500;
  display: inline-block;
  width: 110px;
  height: 37px;
}
.temp2 {
  position: absolute;
  top: 268px;
  left: 154px;
  width: 160px;
  height: 160px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
}
.vital-signs {
  position: absolute;
  top: 131px;
  left: 542px;
  font-size: 36px;
  font-weight: 900;
}
.note-temperature-and {
  position: absolute;
  top: 523px;
  left: 133px;
  font-weight: 500;
  color: #727272;
  display: inline-block;
  width: 1014px;
  height: 47px;
}
.circle9 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #edf200;
  width: 160px;
  height: 160px;
}
.o2-saturation {
  margin: 0;
}
.o22 {
  position: absolute;
  top: 113px;
  left: 22px;
  font-weight: 500;
  display: inline-block;
  width: 116px;
  height: 37px;
}
.o2-sat-inner {
  position: absolute;
  top: 24.1px;
  left: 31.8px;
  width: 97.5px;
  height: 88.8px;
  object-fit: cover;
}
.o2-sat2 {
  position: absolute;
  top: 268px;
  left: 329px;
  width: 160px;
  height: 160px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
}
.group-child14 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50px;
  background-color: #f3f3f3;
  width: 540px;
  height: 204px;
}
.press-3 {
  position: absolute;
  top: 180px;
  left: 238px;
  font-weight: 500;
  display: inline-block;
  width: 63px;
}
.circle10 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: red;
  width: 146px;
  height: 146px;
}
.heart-rate-item {
  position: absolute;
  height: 41.78%;
  width: 43.15%;
  top: 25.34%;
  right: 28.08%;
  bottom: 32.88%;
  left: 28.77%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.heart-rate5 {
  position: absolute;
  top: 106px;
  left: 30px;
  font-weight: 500;
  display: inline-block;
  width: 87px;
  height: 16px;
}
.circle11,
.heart-rate4 {
  position: absolute;
  width: 146px;
  height: 146px;
}
.heart-rate4 {
  top: 23px;
  left: 28px;
  text-align: left;
}
.circle11 {
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #a952ff;
}
.systolic2 {
  position: absolute;
  top: 84px;
  left: 31px;
  font-weight: 500;
  display: inline-block;
  width: 84px;
}
.systolic-child {
  position: absolute;
  top: 17px;
  left: 44px;
  width: 59px;
  height: 63px;
  object-fit: cover;
}
.circle12,
.systolic1 {
  position: absolute;
  top: 23px;
  left: 197px;
  width: 146px;
  height: 146px;
}
.circle12 {
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #00ff85;
}
.diastolic-child {
  position: absolute;
  top: 17px;
  left: 43px;
  width: 59px;
  height: 63px;
  object-fit: cover;
}
.diastolic1 {
  position: absolute;
  top: 23px;
  left: 366px;
  width: 146px;
  height: 146px;
}
.rectangle-parent1 {
  position: absolute;
  top: 245px;
  left: 550px;
  width: 540px;
  height: 204px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
}
.home-press-4-container3 {
  position: absolute;
  top: 3px;
  left: 59px;
  font-weight: 500;
  display: inline-block;
  width: 77px;
  height: 20px;
}
.vector-icon4 {
  position: absolute;
  height: 100%;
  width: 33.09%;
  top: 0;
  right: 66.91%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.home-press-4-parent2 {
  position: absolute;
  top: 21px;
  left: 1101px;
  width: 136px;
  height: 45.6px;
  cursor: pointer;
  color: #d7d7d7;
}
.screen-17 {
  position: relative;
  width: 100%;
  height: 729px;
  text-align: left;
  font-size: 20px;
  color: #000;
  font-family: Inter;
}
