.screen-13,
.screen-5-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 1280px;
  height: 720px;
}
.screen-5-child {
  top: -1px;
  background-color: #353535;
  height: 90px;
}
.health-kiosk3 {
  position: absolute;
  top: 21px;
  left: 140px;
  font-weight: 900;
  color: #fff;
  display: inline-block;
  width: 564px;
  height: 51px;
}
.speech-language-therapy-icon3 {
  position: absolute;
  top: 4px;
  left: 46px;
  width: 80px;
  height: 80px;
  overflow: hidden;
  object-fit: cover;
}
.group-child3 {
  position: absolute;
  top: 94.7px;
  left: 4px;
  width: 14px;
  height: 0;
  object-fit: contain;
}
.group-child4,
.group-child5 {
  position: absolute;
  top: 0;
  left: 1144.9px;
  width: 83.3px;
  height: 84.4px;
  object-fit: cover;
  cursor: pointer;
}
.group-child5 {
  top: 3.2px;
  left: 4px;
  object-fit: contain;
}
.done-press-2-container2,
.previous-press-1-container2 {
  position: absolute;
  top: 89px;
  left: 1153.9px;
  font-weight: 900;
  display: inline-block;
  width: 71px;
  height: 17px;
}
.previous-press-1-container2 {
  top: 91px;
  left: 0;
  width: 90px;
}
.vector-container {
  position: absolute;
  top: 589px;
  left: 24px;
  width: 1228.2px;
  height: 108px;
  text-align: center;
  font-size: 16px;
}
.vital-signs-result2 {
  position: absolute;
  top: 124px;
  left: 491px;
  font-weight: 900;
}
.circle2,
.rectangle-icon {
  position: absolute;
  top: 0;
  left: 0;
}
.rectangle-icon {
  border-radius: 50px;
  width: 779px;
  height: 364px;
  object-fit: cover;
}
.circle2 {
  border-radius: 50%;
  background-color: #00ff85;
  width: 209.8px;
  height: 206px;
}
.mmhg {
  margin: 0;
}
.diastolic {
  position: absolute;
  top: 118.5px;
  left: 44.6px;
  font-weight: 500;
  display: inline-block;
  width: 120.7px;
  height: 80.4px;
}
.diastolic-2-child {
  position: absolute;
  top: 24px;
  left: 61.8px;
  width: 84.8px;
  height: 88.9px;
  object-fit: cover;
}
.circle3,
.diastolic-2 {
  position: absolute;
  width: 209.8px;
  height: 206px;
}
.diastolic-2 {
  top: 38.1px;
  left: 526px;
  font-size: 20px;
}
.circle3 {
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #a952ff;
}
.systolic-2-child {
  position: absolute;
  top: 24px;
  left: 63.2px;
  width: 84.8px;
  height: 88.9px;
  object-fit: cover;
}
.circle4,
.systolic-2 {
  position: absolute;
  width: 209.8px;
  height: 206px;
}
.systolic-2 {
  top: 45.1px;
  left: 284.6px;
  font-size: 20px;
}
.circle4 {
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: red;
}
.heart-rate2-child {
  position: absolute;
  height: 41.8%;
  width: 43.14%;
  top: 25.34%;
  right: 28.07%;
  bottom: 32.86%;
  left: 28.79%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.heart-rate,
.heart-rate2 {
  position: absolute;
  left: 43.1px;
}
.heart-rate {
  top: 149.6px;
  font-weight: 500;
  display: inline-block;
  width: 125px;
  height: 22.6px;
}
.heart-rate2 {
  top: 45.1px;
  width: 209.8px;
  height: 206px;
  text-align: left;
}
.result-temp2,
.result-temp3,
.result-temp4 {
  position: absolute;
  top: 275.1px;
  left: 533.2px;
  font-weight: 500;
  display: inline-block;
  width: 194px;
  height: 67.7px;
}
.result-temp3,
.result-temp4 {
  left: 291.8px;
}
.result-temp4 {
  top: 268.1px;
  left: 50.3px;
}
.group-div {
  position: absolute;
  top: 228px;
  left: 250px;
  width: 779px;
  height: 364px;
  text-align: center;
  font-size: 24px;
}
.screen-5 {
  position: relative;
  width: 100%;
  height: 729px;
  text-align: left;
  font-size: 36px;
  color: #000;
  font-family: Inter;
}
