.screen-11 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 1024px;
  height: 600px;
}
.selection-child {
  position: absolute;
  top: 474px;
  left: 11px;
  width: 90px;
  height: 125px;
  object-fit: contain;
  cursor: pointer;
}
.note {
  position: absolute;
  top: 165px;
  left: 250px;
  font-size: 20px;
  font-weight: 900;
  color: #424242;
}
.selection-item {
  position: absolute;
  top: -1px;
  left: 0;
  background-color: #353535;
  width: 1024px;
  height: 90px;
}
.home-press-4-container {
  position: absolute;
  top: 4px;
  left: 57px;
  display: inline-block;
  width: 60px;
  height: 37px;
}
.vector-icon {
  position: absolute;
  height: 100%;
  width: 38.46%;
  top: 0;
  right: 61.54%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.home-press-4-parent {
  position: absolute;
  top: 21px;
  left: 882px;
  width: 117px;
  height: 45.6px;
  cursor: pointer;
  color: #d7d7d7;
}
.circle {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #00b3ff;
  width: 160px;
  height: 160px;
}
.thermometer-icon {
  position: absolute;
  top: 20px;
  left: 35px;
  width: 89.3px;
  height: 89.3px;
  overflow: hidden;
}
.temperature {
  margin: 0;
}
.press-1 {
  margin: 0;
  font-weight: 800;
}
.temperature-press-1-container {
  position: absolute;
  top: 110px;
  left: 25px;
  display: inline-block;
  width: 110px;
  height: 37px;
}
.temp {
  position: absolute;
  top: 239px;
  left: 428px;
  width: 160px;
  height: 160px;
  text-align: center;
}
.vital-signs {
  position: absolute;
  top: 117px;
  left: 410px;
  font-size: 36px;
  font-weight: 900;
}
.note-temperature-and {
  position: absolute;
  top: 499px;
  left: 197px;
  font-weight: 500;
  color: rgba(114, 114, 114, 0.5);
  display: inline-block;
  width: 652px;
  height: 38px;
}
.speech-language-therapy-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  overflow: hidden;
}
.health-kiosk1 {
  position: absolute;
  top: 17px;
  left: 94px;
  font-weight: 900;
  display: inline-block;
  width: 235px;
  height: 44px;
}
.speech-language-therapy-group {
  position: absolute;
  top: 4px;
  left: 46px;
  width: 329px;
  height: 80px;
  font-size: 36px;
  color: #fff;
}
.selection {
  width: 100%;
  position: relative;
  height: 600px;
  text-align: left;
  font-size: 16px;
  color: #000;
  font-family: Inter;
}
